 .address 
 .bet-button
 {
    all: initial
  }


.header {
    padding: 92px 49.48px 96px 24px;
    display: grid;
    flex-direction: row;
    grid-template-columns: 453px 148px auto;
    align-content: center;
    
} 

.header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-left: 26px;
}
    
.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 31.5px;
    list-style: circle;
    font-size: 18px;
    line-height: 21px;    
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__logo {
    display: block;
    height: 105px;
    align-self: center;  
}

.header__logo-image {
    height: 100%;
}

.address {
    display: block;
    font-family: 'Raleway', serif;
    font-size: 18px;
    line-height: 1.35;
    width: 240px;
    align-self: center;
    justify-self: end;
 }
 
.cover {
    height: 757px;
    padding: 165px 50px 51px 50px;
    position: relative;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 0.6);
    position: absolute;
    top: 0;
    left: 0;
}

.cover__title {
    color: #ffffff;
    font-family: 'Raleway', serif;
    text-transform:uppercase;
    font-weight: 700;
    font-display: swap;
    font-size: 100px;
    line-height: 1.15;
    position: relative;
}

.aligned-text {
    display:block;
    letter-spacing: 0.3em;
}


.aligned-text_center {
    text-align: center;
    margin-top: 13px;
}

.aligned-text_right {
    text-align: right;
    margin-top: 4px;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0.0em;
}

.cover__description {
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 127px 0px 0px 32px;
}

.cover__description-text{
    display:block;
    font-family: 'Raleway', serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 22px;
    line-height: 1.27;    
    color: #ffffff;
    position: relative;
    letter-spacing: normal;
    word-spacing: 18px;
}

.bet-button {
    width: 256px;
    height: 51px;
    background-color: transparent;
    font-family: 'Raleway', serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.27;    
    color: #ffffff;
    Border-color: #ffffff;
    position: relative;
}
   
.lots {
    padding: 179px 24px 0px;
}

.lots__heading {
    margin: 0px 891px 27px 40px;
    font-family: 'Raleway', serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;    
    color: #000000;
}

.lots__card-list {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap: 25px;
    list-style: none;
}

.lots__card-list-item {
    min-height: 563px;
    max-width: 334px;
    flex-grow: 1;
}

.card_type_film {
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url(../images/card-lot-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto 100%;
}
.card_type_book {
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url(../images/card-lot-02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto 100%;
}

.card_type_picture {
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url(../images/card-lot-03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto 100%;
}

.card {
    padding: 48px 40px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;  
}

.card__title {
    display: flex;
    font-family: 'Raleway', serif;
    text-transform: uppercase;
    text-decoration-line: underline;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;    
    color: #FFFFFF;
    position: relative;
}

.card__text {
    display: flex;
    font-family: 'Raleway', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;    
    color: #FFFFFF;
    position: relative;
}

.lots__look-more-link {
    display: block;
    margin: 30px 40px 0PX ;
    font-size: 20px;
    line-height: 1.17;
}

.about {
    padding: 183px 24px 178PX 24px;
    display: grid;
    grid-template-columns: 334px auto;
    grid-template-rows: 240px auto;
    grid-template-areas:
    "about__logo about__title"
    ". about__text";
    gap: 5px 25px;
}

.about__column {
    display: flex;
    flex-direction:column;
}

.about__logo {
    display: flex;
    width: 240px;
    height: 240px;
    border-radius: 120px;
    background-color: black;
    align-self: start;
    justify-self:center;
    grid-area: about__logo;
}

.about__logo-image {
    width: 148px;
    height: 148px;
    margin: auto;
}

.about__title {
    display: flex;
    font-family: 'Raleway', serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.17;  
    grid-area: about__title;
    align-items: center;
}

.about__text {
    display: flex;
    flex-direction:column;
    font-family: 'Raleway', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
   gap:26px;
    grid-area: about__text;
}

.footer {
    padding: 0px 50px 91px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    
}

.footer__menu{
    display: flex;
    flex-direction:column;
    font-size: 18px;
    line-height: 21.13px; 
}

.footer__menu-list {
    list-style: none;
    text-align: center;
}

.footer__social-list {
    display: flex;
    flex-direction:row;
    list-style: none;
    gap: 48px;
}

.footer__social-icon {
    height: 48px;
    width: 48px;
}
